@import 'fonts'
@import 'vars'
	
body, html
	margin: 0
	padding: 0
	background-color: $grey

.codeblock
	background-color: darken($grey, 2%)
	box-shadow: 1px 1px 15px 1px transparentize($black, 0.7)
	padding: 8px 24px !important
	border-radius: 10px
	font-size: 15px
	margin: 24px -8px
	

.app-container
	max-width: 600px
	margin-left: auto
	margin-right: auto
	padding: 0 1.4rem
	color: darken($light-grey, 12%)
	font-family: 'Lato'
	font-size: 16px
	h1, h2
		font-family: 'Source Sans Pro'
		font-weight: 900
	h1
		font-size: 48px
	a
		outline: none
		color: $light-blue
	.github-btn
		position: fixed
		right: 12px
		top: 12px
	.launching-wrapper
		height: 100vh
		.launching
			max-width: 600px
			position: absolute
			margin-top: 120px
			.title
				display: grid
				grid-template-columns: 140px auto
				align-items: center
				.title-text
					margin-left: 30px
					font-family: 'Source Sans Pro'
					font-weight: 900
					color: $light-grey
					font-size: 48px
					.react-title
						color: #61dafb
			.about
				margin-top: 24px
				line-height: 30px
	.example-wrapper
		.example-body
			display: grid
			grid-template-columns: auto auto
			align-items: center
			+break-medium
				grid-template-columns: 100%
				grid-template-rows: auto auto
				justify-items: center
				.example-content
					padding: 0
					margin: 0
			.example-code
				background-color: darken($grey, 2%)
				box-shadow: 1px 1px 15px 1px transparentize($black, 0.7)
				padding: 0 24px !important
				border-radius: 10px
				font-size: 15px
				margin: 24px -8px
				+break-medium
					width: 95%
					overflow-x: auto
	.more
		margin-top: 100px



/* fixes for examples stylings */
.example-content-2
	margin-left: -40px
	padding: 0 40px

.example-content-3
	margin-left: -80px
	padding: 0 40px

.example-content-4
	margin-left: -160px
	padding: 0 40px

.example-body-5
	grid-template-columns: 100% !important
	grid-template-rows: 250px auto !important
	justify-items: center
	.example-content
		align-self: baseline
	.example-code
		overflow-x: auto

.example-content-6
	margin-left: -280px
	padding: 0 40px