$white: #fff
$dark-grey: #455b64
$grey: #2f2f32
$black: #1a1a1e
$light-blue: #7cebff
$blue: #64c5d6
$dark-blue: darken($light-blue, 50%)
$light-grey: #dadada

$break-small: 576px
$break-medium: 768px
$break-large: 992px
$break-xlarge: 1200px

=break-small
	@media (max-width: $break-small)
		@content


=break-medium
	@media (max-width: $break-medium)
		@content

		
=break-large
	@media (max-width: $break-large)
		@content


=break-xlarge
	@media (max-width: $break-xlarge)
		@content